 @charset "utf-8";
/*
Theme Name: tanzaku
Theme URI: http://www.tripleships.com/sample/
Description: Variable grid layout, easing effect on window resizing.
Version: 1.1.1
Author: TRIPLESHIPS Inc.
Author URI: http://www.tripleships.com/
Tags: silver, light, flexible-width, threaded-comments


Index:
  - Basic Elements
  - Basic Styling
  - Layout
  - Grid Items, Single Item and Comments
  - Navigation and Sidebar Widget
  - Form Elements

*/



/* ---------- Basic Elements ---------- */

body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: 300;
	line-height: 1.5;
}

a {
	text-decoration: underline;
	/* color: #3f3f3f; */
	color: #000;
}
a:hover {
	/* color: #666; */
	text-decoration: none;
	/* background-color: #ddd; */
}
a img {
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0;
}
h1 {
	font-size: 28px;
	font-weight: normal;
}
h2,
h3,
h4,
h5,
h6 {
	font-size: 15px;
	margin-top: 2em;
	padding-left: 5px;
	/* border-left: 5px solid #c4c4c4; */
	font-weight: 700;
}

blockquote {
	margin: 0;
	padding: 10px;
	border-left: 5px solid #e9e9e9;
	background-color: #f9f9f9;
	color: #666666;
}

pre {
	overflow: auto;
	margin: 0;
	padding: 10px;
	background-color: #f9f9f9;
	color: #666666;
}

fieldset {
	border: 1px solid #cccccc;
	padding: 10px;
}

table {
	margin: 1em 0;
	border: 1px solid #999999;
}
th, td {
	padding: 2px 4px;
	/*border: 1px solid #e9e9e9;*/
}
th {
	font-weight: normal;
}
td {
	
}

/* ---------- Basic Styling ---------- */

.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignright {
	float: right;
	margin: 0 0 2px 10px;
}

.alignleft {
	float: left;
	margin: 0 20px 2px 0;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 5px;
	display: inline;
}

img.alignleft {
	padding: 5px;
	display: inline;
}

.caution {
	padding: 10px;
	color: #e9e9e9;
	text-align: center;
	background-color: #cc0000;
}
noscript .caution {
	margin: 0;
}

.wp-caption {
	width: 100%;
	/* border: 1px solid #e3e3e3; */
	/*
	border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	*/
	background-color: #ffffff;
	/* text-align: center; */
}
.wp-caption img {
	padding-top: 5px;
}

.wp-caption-text {
	margin: 5px 0;
	/* text-align: center; */
	font-size: smaller;
	color: #666666;
}

code strong {
	color: #cc3366;
	font-weight: normal;
}

.nada {
	background: #FFF;
	border: 0px none #FFF;
}
/* ---------- Layout ---------- */

#top-container {
	margin: 0 auto;
	padding: 5px;
	background: white;
}

#container {
	margin: 0 auto;
	padding: 0;
}

#header {
        margin: 25px 0 15px;
        padding-bottom: 10px;
}
	#header h1 {
		font-family: Georgia,serif;
		margin: 0;
		color: #000000;
		font-weight: 500;
	}
	#header h1 a{
		/* font-size: 1.3em; */
		font-size: 28px;
		margin: 0;
		color: black;
		text-decoration: none;
	}
	#header p {
		font-size: 15px;
		font-weight: 100;
		margin: 0;
		line-height: 22px;
	}

	#grid-wrapper {
		font-family: Georgia,serif;
		margin: 0;
		padding: 0;
		padding-top: 1000px; /* Prevent flicker in grid area. Check header.php. */
	}

	#single-wrapper {
		margin: 0;
		padding: 0;
		padding-top: 1000px; /* for single-page effect */
		border-top: 1px solid #DDDDDD;
		
		/* Aquí limito la anchura del div del post */
		/* max-width: 984px !important; */
	}

#bottom-container {
	clear: both;
	width: 100%;
	margin: 0;
	padding: 30px 0 0;
}

	#footer-wrapper {
		background: none;
	}

	#footer {
		margin: 0 auto;
	}
	#footer p {
		margin: 0;
		padding: 10px;
	}



/* ---------- Grid Items, Single Item and Comments ---------- */

/* value = (width * n) + (15+15+5) * (n-1). 
 * ex.
 * width=190 : 190, 415, 640, 865
 * width=200 : 200, 425, 650, 875
 * width=250 : 250, 525, 800, 1075
 * width=290 : 290, 615, 940, 1265
 */
div.x1 { width:  190px; }
div.x2 { width:  415px; }
div.x3 { width:  640px; }
div.x4 { width: 865px; }

div.grid-item,
div.single-item {
	overflow: hidden;
	margin: 0 5px 5px 0;
	/* Eliminamos el marquito de los grid-items */
	/* padding: 15px 15px 30px 15px; */
	border: 0;
	/* De momento tendremos que tirar sin cantos redondeados */
	/*
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	*/
}

div.grid-item {
	/* background-color: #f7f7f7; */
	height: 140px;
	background-color: #efebe3;
}

div.grid-item:hover {
	background-color: #d5d2cb;
}

div.single-item {
	background-color: #fff;
}

div.single-item h2.post-title {
	color: #FFF;
	//font-size: 20px;
	font-weight: 500;
	padding-left: 0;
	margin: -10px 0 0 0;
}

div.single-item h2.post-title a {
	color: #FFF;
	text-decoration: none;
}

/* IMPORTANTE: Posicionamiento relativo para los títulos de la grid */
div.grid-item h2.post-title {
	font-weight: 700;
	font-size: 1.2em;
	z-index: 10;
	background-color: #000;
	position: relative;
	top: 90px;
	left: 0px;
	height: 35px;
	padding-left: 10px;
	padding-top: 4px;
	margin: 0;
	/*border-radius: 0px 8px 8px 0px;
	-moz-border-radius: 0px 8px 8px 0px;;
	-khtml-border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;*/
	opacity: 0.9;
}

div.grid-item div.grid-image {
	background-color: black;
	margin-bottom: 1em;
	/* IMPORTANTE: Posicionamiento relativo para las img de la grid */
	position: relative;
	top: -39px;
	left: 0px;
	/* z-index: 1; */
}

/* Le quitamos el padding a las img de la grid */
div.grid-item div.grid-image img {
	padding: 0px;
}
	div.grid-item div.grid-image img:hover {
		opacity: 0.5;
	}

div.single-item img.thumbnail {
	display: none;
}

/*
div.single-item img.primera-img {
	float: left;
}
*/

div.grid-item div.wp-caption {
	display: none;
}

/* IMPORTANTE: Aquí limito el ancho del texto explicativo en el post */
#single-wrapper div.post-body p, #single-wrapper div.post-body ul {
	max-width: 900px;
	/* margin-top: 40px; */
}

div.post-body p,
div.comment-body p {
	font-size: 11px;
	margin-top: 6px;
	margin-bottom: 6px;
}

div.page div.post-body p{
	font-size: 13px;
}

div.post-body p img,
div.post-body p object {
	max-width: 100%;
	padding: 0;
}

/* IMPORTANTE: creo este clase para insertar todas las imagenes del post */
div.imagenes-post {
	margin-top: 25px;
	margin-bottom: 20px;
}
	div.imagenes-post img {
		margin-top: 8px;
	}

span.HDFLV embed {
	margin-top: 25px;
	margin-bottom: 20px;
}

p.post-meta,
p.comment-meta {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 10px;
	line-height: 1;
	margin: 0 0 20px 0;
}

div.grid-item p.post-meta {
	position: relative;
	top: -79px;
	left: 0px;
	z-index: 20;
	padding-left: 10px;
}

/* IMPORTANTE: Aquí establecemos las características del titulo y meta en los grid-items */
div.grid-item a {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
}
	
	div.grid-item a:hover {
		color: #888;
	}

div.grid-item p.post-meta a {
	font-weight: 100;
}

.comment-list .navigation {
	margin: 10px 0;
}
.comment-list .navigation a {
	margin-right: 10px;
}

.comment-list ol li {
	margin: 10px 0;
}

.comment-list ol li.trackback {
	padding: 5px;
	border: 1px solid #c4c4c4;
}

.comment-list ul.children {
	list-style: none;
}
.comment-list ul.children li {
	border-left: 5px solid #c4c4c4;
	padding-left: 5px;
}

.comment-list li.bypostauthor {
}
.comment-list li.bypostauthor cite.fn {
	text-decoration: underline;
}

.comment-list li.comment .reply {
	margin: 10px 0 20px;
}




/* ---------- Navigation and Sidebar Widget ---------- */

/* Pagination for grid items and paginated posts */
.pagination {
	margin: 50px 0 0;
	font-size: 12px;
}
.pagination .current {
	color: #333333;
	font-weight: bold:
}
.pagination .next, 
.pagination .prev {
}

.pagination .page-numbers,
.pagination .current {
	margin: 0 10px 0 0;
	padding: 10px 15px;
	text-decoration: none;
	background: #d9d9d9;
}
/* page-numbers hover color */
a.page-numbers:hover {
	color: #333333;
	background-color: #eeeeee;
}
#post-pagination {
	margin: 1em 0;
	color: #c4c4c4;
}
#post-pagination .prefix {
	color: #eaeaea;
}

/* Sidebar 
 * In this theme, sidebar is a horizontal line.
 * Sidebar2 is a block on the bottom.
 * See also "Form Elements" section.
 */
#sidebar{
	list-style: none;
	list-style-type: none;
	/* margin: 30px 0 50px 16px; */
	margin: 0 0 15px 0px;
	padding-left: 0;
        border-top: 1px solid #DDDDDD;
}
#sidebar2 {
	list-style: none;
	list-style-type: none;
	margin: 50px 0;
	padding-left: 0;
	border-top: 1px solid #DDDDDD;
}
#sidebar li {
	margin: 2px 0;
}
#sidebar li.widget h2.widgettitle {
	display: none;
}

#sidebar li.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar li.widget ul li {
	display: inline;
	padding-right: 5px;
}

#sidebar2 li.widget a {
	text-decoration: none;
}	
	#sidebar2 li.widget a:hover {
	text-decoration: underline;
}

li.current-cat {
	text-decoration: underline;
}

#sidebar2 li.widget {
	display: block;
	overflow: hidden;
	float: left;
	margin: 0 5px 5px 0;
	min-width: 190px;
	padding: 5px 0 0 0;
	border: 0;
	/* border-top: 1px solid #DDDDDD; */
}

#sidebar2 h2.widgettitle {
	margin-top: 0;
	margin-bottom: 0;
	padding: 5px 10px;
	/* color: #333333; */
	/* background-color: #d9d9d9; */
}

#sidebar2 li.widget div {
	padding: 0 10px;
	font-size: 12px;
}

#sidebar2 li.widget ul {
	margin: 0;
	padding: 0 10px;
	font-size: 12px;
}

#sidebar2 li.widget ul li {
	list-style: none;
}
#sidebar2 ul.children ul li {
	list-style: none;
}

#wp-calendar {
	margin: 1em 0;
	border: none;
}
#wp-calendar caption{
	text-align: left;
	margin: 2px 0 0 0;
	padding: 0;
}
#wp-calendar td {
	text-align: center;
}

/* ---------- Form Elements ---------- */

div.comment-form {
	margin: 0;
	padding: 0;
}

#commentform {
	margin: 0;
	padding: 0;
}
#commentform textarea {
	width: 99%;
	max-width: 640px;
}

/* for sidebar widget */

#searchform {
    width: 300px;
}
#searchform div {
	padding: 0;
	font-size: 12px;
}
#searchform label.screen-reader-text {
	display: none;
}
#searchsubmit {
	display: inline;
}

#s { /* #searchform input#s */
	width: 170px;
	margin: 0;
}

/* ---------- Banner del Header ---------- */

#header_banner {
	position: relative;
	right: 0px;
	top: -55px;
	margin-right: 5px;
	background-color: #000;
	padding: 50px 5px 5px;
	width: 68px;
	height: 64px;
	float: right;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#header_banner:hover {
	top: -68px;
}

ul.language-chooser {
        list-style: none;
}

ul.language-chooser li {
        float: right;
        padding-left: 5px;
}

ul.language-chooser li a {
    text-decoration: none;
}

.wpmtitle {
	font-style: italic;
}
.wpmauthors:before{
content: "- ";
}